table {
	border-collapse: collapse;
	margin-right: auto;
	margin-left: auto;
}

th, td {
	border: 1px solid black;
	text-align: center;
}

tr:nth-child(even) {
	background: rgb(224, 224, 224);
}

tr:nth-child(odd) {
	background: rgb(182, 182, 182);
}

thead tr:first-child {
	background-color: rgb(63, 63, 63);
	color: lightgray;
}

.gameTable tbody tr:first-child {
	background-color: rgb(93, 119, 136);
}

td, th {
	padding: 5px;
}