table {
	border-collapse: collapse;
	margin-bottom: 20px;
}

th, td {
	border: 1px solid black;
	text-align: center;
}

thead {
	background: rgb(134, 134, 134);
}

tr:nth-child(even) {
	background: rgb(224, 224, 224);
}

td, th {
	padding: 5px;
}